<div *ngFor="let order of orders" class="order">
  <h3>{{ order.name }} </h3>
  <h3>{{ order.serial }}</h3>
  <p>📞 {{ order.phone }} </p>
  <p> 🏠 {{ order.address }}</p>
  <p>🗓️ {{ order.orderDate }} </p>
  <p>🗓️  💵 Total Price: {{ order.totalPrice }}</p>

  <ul>
    <li *ngFor="let item of order.productItem">
      🧺 {{ item.name }} - Quantity: {{ item.quantity }} - Price: {{ item.price }}
 <span *ngIf="item.netWeight > 0">
     الوزن: {{ item.netWeight }} g
  </span>    </li>
  </ul>
  <hr>
</div>
<div class="row justify-content-center my-4">
    <div class="col-auto">
      @if(orders.length >= 8)
      {
      <a class="btn" style="background-color:  rgba(245, 112, 3, 0.966);color: white" (click)="onNext()">Next</a>
      }
    </div>
    <div class="col-auto">
      <a class="btn" style="background-color:  rgba(245, 112, 3, 0.966); color: white;">{{ filterObj.pg }}</a>
    </div>
    <div class="col-auto">
      @if(filterObj.pg > 1)
      {
      <a class="btn" style="background-color:  rgba(245, 112, 3, 0.966); color: white;" (click)="onPrevious()">Prev</a>
      }
    </div>
  </div>