  <div class="d-flex justify-content-between align-items-center mb-3">
<h2 class="text-center my-4">تحديث القسم</h2>
<button class="btn btn-outline-secondary me-5  bg-warning"    (click)="goBack()">الرجوع</button>
  </div>
<form (ngSubmit)="updateCategory()" class="container shadow p-4 rounded bg-light" style="max-width: 500px;">
  <div class="mb-3">
    <label class="form-label">الاسم:</label>
    <input type="text" class="form-control" [(ngModel)]="Namecat" name="name" required />
  </div>

  <div class="mb-3">
    <label class="form-label">صورة جديدة:</label>
    <input type="file" class="form-control" (change)="onFileChange($event)" accept="image/*" />
  </div>

  <div *ngIf="previewUrl" class="mb-3 text-center">
    <p>عرض الصورة:</p>
    <img [src]="previewUrl" width="150" class="img-thumbnail" />
  </div>

  <button type="submit" class="btn btn-primary w-100">تحديث</button>
</form>
